/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    background: #6D6027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.banner{
    padding: 0px;
    margin: 20px auto 0px auto;
    height: 500px;
    width: 80%;
    position: relative;
}

.banner img{
    width: 100%;
    max-height: 100%;
}

.form{
    width: 50%;
    background: #6D6027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: auto;
    padding: 30px;
    border-radius: 20px;
}