<div class="container">
    <div class="messages_container">
        <div class="card w-50 mx-auto">
            <div class="card-body">
                <h5 class="card-title">Lorem, ipsum dolor.</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, ea. Esse suscipit nostrum animi sed, debitis dolor dolores aspernatur quos? Accusamus aperiam voluptatibus in omnis, perspiciatis quidem exercitationem quis ipsa.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </div>
        </div>
    </div>
</div>