h1{
    font-size: 60px;
    color: white;
    margin: auto;
    position: absolute; 
    top: 90%;
    left: 0px;
    background-color: rgb(70, 79, 87);
    width: 100%;
    text-align: center;
}

h4{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.create{
    background-color: rgb(53, 61, 70);
    color: white;
}
.create:hover{
    background-color: rgb(70, 79, 88);
    color: wheat;
}

#logo{
    width: 600px;
    position: absolute;
    left: 20%;
    top: 40%;
}

a{
    color: rgb(233, 234, 101);    
}